<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/user/login" class="a2">Log in!</a>
<a href="/user/signin" class="a2">Sign up!</a>
<a href="/user/main" class="a2">Main!</a>
<a href="/user/private" class="a2">Private!</a>