<div class="login-box">
  <p>Sign In</p>
  <form action="/user/signin" method="POST">
    <div class="user-box">
      <input name="username" type="text" />
      <label>User Name</label>
    </div>
    <div class="user-box">
      <input name="password" type="password" />
      <label>Password</label>
    </div>
    <div class="user-box">
      <input name="repeatPassword" type="password" />
      <label>Password Repeat</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Sign In
    </button>
  </form>
  <p>Don't have an account? <a href="/user/signin" class="a2">Sign up!</a></p>
</div>